{% extends "layout.html" %}

{% block content %}


<div id = "map-canvas">
</div>
<select>
	{% for hotel in all_hotels %}
	<option>{{hotel.name}}</option>
{% endfor %}
</select>

<select>
	{% for restaurant in all_restaurants %}
	<option>{{restaurant.name}}</option>
{% endfor %}
</select>
<select>
	{% for thing in all_thingstodo %}
	<option>{{thing.name}}</option>
{% endfor %}
</select>

<script>
{% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ things_to_do | json }};
{% endautoescape %}
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbGIFgRdUaCvdOG4-cwmJWTAFk3PeOaHw&sensor=true"></script>
<script type="text/javascript" src="/public/javascripts/index.js"></script> -->

{% endblock %}

